{
    "tabWidth": 4,
    "useTabs": false,
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss", "@prettier/plugin-php"],
    "printWidth": 120,
    "singleAttributePerLine": true,
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
