@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #why *:nth-child(even),
    #what *:nth-child(even) {
        @apply text-primary-800;
    }
}

/* Scroll to top */
html {
    scroll-behavior: smooth;
}

#to-top {
    transform: scale(0);
    transition: bottom 200ms, transform 200ms;
}

#to-top.show {
    transform: scale(1);
}
